//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  padding: 5px;
  margin-bottom: 30px;
  @media (min-width: $screen-lg-min) {
  	padding: 19px;
  	margin-bottom: 50px;
  }
  background-color: $well-bg;
  border: 1px solid $well-border;
  @include clearfix;
 // @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
  .btn {
  	margin-bottom: 10px;
  	@media (min-width: $screen-md-min) { margin-bottom: 15px; }
  }
  .btn:last-child {
  	margin-bottom: 0;
  }
  p:last-child {
  	margin-bottom: 0;
  	color: $headings-color;
  }
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: $border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: $border-radius-small;
}


.well--heading {
	margin: floor($line-height-computed / 1.4) 0 8px;
	//text-align: center;
	@media (min-width: $screen-sm-min) { margin: floor($line-height-computed / 1.1) 0 8px; }
	@media (min-width: $screen-md-min) { margin: floor($line-height-computed * 1.1) 0 8px; }
	svg {
		width: 25px;
		height: 25px;
		position: relative;
		top: 5px;
	}
}
