/*** ----------------------------------

CUSTOM LAYOUT STYLES
---------------------------------------

filename:asset/scss/custom
copyright:2017 Steve Graw
License:CC BY Steve Graw
contact:stevejgraw@gmail.com

-------------------------------------------------------------------------- ***/


body {
	background: #434242;
}

main {
	background: #fff url(img/watermark.svg) no-repeat 50% 100%;
	background-size: 1000px;
	padding: 40px 0;
	@media (min-width: $screen-sm-min) { padding: 60px 0; }
	@media (min-width: $screen-md-min) { padding: 100px 0; }
	.home & { padding: 0;}
}

.header--wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	width: 100%;
	text-align: center;
	height: 60px;
	background: transparent;
	transform-style: preserve-3d;
	@include trans(all);
	.sticky & {
		height: 60px;
		background: #fff;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		box-shadow: 0 3px 5px rgba(0,0,0,0.07);
	}
	@media (min-width: $screen-md-min) {
		height: 100px;
	}
}

.logo {
	line-height: 0;
	float: left;
	@include valign();
}

.logo-svg {
	width: 100px;
	@include trans(all);
	fill: #fff;
	position: relative;
	left: 15px;
	top: 2px;
	#logo-christian, #logo-school { display: none;}
	.sticky & {
		width: 100px;
		#logo-christian, #logo-school { display: none;}
		#logo-summit { fill: $text-color;}
		#logo-upper { fill: $brand-primary;}
		#logo-sun { fill: $brand-secondary;}
	}
	@media (min-width: $screen-md-min) {
		width: 150px;
		#logo-christian, #logo-school { display: inline;}
	}
}

#menu-open {
	float: right;
	@include valign();
	line-height: 0;
	position: relative;
	right: 10px;
	svg {
		width: 35px;
		height: 35px;
		color: #fff;
		.sticky & {
			width: 35px;
			height: 35px;
			color: $text-color;
		}
		@media (min-width: $screen-md-min) {
			width: 45px;
			height: 45px;
		}
	}
	&:link, &:visited, &:active, &:hover { text-decoration: none; }
	span {
	    text-transform: uppercase;
	    text-decoration: none;
	    color: #fff;
	    position: relative;
	    right: 15px;
	    bottom: 12px;
	    display: none;
	    @media (min-width: $screen-md-min) {
	        color: #fff;
	        bottom: 15px;
	        display: inline;
	    }
	    .sticky & { color: $text-color; bottom: 12px;}
	}
}

#menu-close {
	position: absolute;
	top: 15px;
	right: 10px;
	@media (min-width: $screen-md-min) {
		top: 25px;
		right: 15px;
	}
	z-index: 20000;
	svg {
		width: 33px;
		height: 33px;
		color: #fff;
		position: relative;
		top: 4px;
		@media (min-width: $screen-md-min) {
			width: 40px;
			height: 40px;
		}
	}
}


/* --- BANNER --- */

.banner {
	height: 200px;
	@media (min-width: $screen-sm-min) { height: 250px; }
	@media (min-width: $screen-md-min) { height: 350px; }
	background: #fff;
	position: relative;
	overflow:hidden;
	text-align: center;
	transform-style: preserve-3d;
	color: #fff;
	border-bottom: 7px solid $brand-primary;
	&.home {
		height: 280px;
		border: none;
		@media (min-width: $screen-sm-min) { height: 450px; }
		@media (min-width: $screen-md-min) { height: 600px; }
	}
	&::before {
		background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
		bottom: 0;
		content: "";
		height: 100%;
		position: absolute;
		z-index: 100;
		right: 0;
		top: 0;
		width: 100%;
	}
}

.banner-inner {
	.page-template-template-about &, .page-template-template-faq &, .page-template-template-staff & { background-image: url(img/banner-about.jpg);}
    .page-template-template-admissions &, .page-template-template-admissions-elem &, .page-template-template-admissions-preschool & { background-image: url(img/banner-admissions.jpg);}
    .page-template-template-academics &, .page-template-template-academics-elementary & { background-image: url(img/banner-academics.jpg);}
    .page-template-template-academics-preschool & { background-image: url(img/banner-preschool.jpg);}
    .page-template-template-community & { background-image: url(img/banner-community.jpg);}
    .page-template-template-support & { background-image: url(img/banner-support.jpg);}
    .page-template-template-contact & { background-image: url(img/banner-contact.jpg);}
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 5s ease-in-out;
	backface-visibility: hidden;
	transform: translateZ(0);
	animation: 10s ease-out 0s normal none 1 running background-effect;
}

@keyframes background-effect {
	0% {
		transform: scale(1.1);
		opacity: 0;
	}

	25% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

.banner--text {
	@include valign(65%);
	position: absolute !important;
	z-index: 2000;
	left: 0;
	right: 0;
	margin: auto;
	@media (min-width: $screen-sm-min) { @include valign(53%);}
}

.banner--heading {
	color: #fff;
	letter-spacing: -0.03em;
	margin: 0 0 5px;
	font-size: floor($font-size-h3 / 1.05);
	@media (min-width: $screen-sm-min) { font-size: $font-size-h2;}
	@media (min-width: $screen-md-min) { font-size: floor($font-size-h1 * 1.3); }
}

.banner--subheading {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-size:floor($font-size-base / 1.3);
	display: inline-block;
	margin: 0 0 10px;
	@media (min-width: $screen-md-min) {margin: 0 0 30px; }
	padding-bottom: 2px;
	border-bottom: 1px solid #fff;
	&:hover { border-color: transparent;}
	a {
		color: #fff;
		padding: 4px 1px;
		&:hover, &:active {
			text-decoration: none;

		}
	}
	.home & {
		text-transform: none;
		padding: 0;
		border: 0;
		font-size: floor($font-size-base / 1.2);
		line-height: 1.3;
		@media (min-width: $screen-md-min) {font-size:floor($font-size-base * 1.2); }
		display: block;
	}
}




/* --- HOME PAGE --- */

.video--thumb {
    margin-bottom: 40px;
    position: relative;
    a {
        background: #434242;
        display: block;
        img { @include trans(opacity);}
    }
    a:hover img {
        opacity: 0.8;
    }
    a:hover + svg { color: #fff;}
    svg {
        width: 40px;
        height: 40px;
        color: rgba(255,255,255,0.6);
        position: absolute;
        z-index: 100;
        bottom:14%;
        left: 10%;
        @include trans(color);
        @media (min-width: $screen-md-min) {
            width: 55px;
            height: 55px;
            bottom:11%;
            left: 8%;

        }
    }

}

.notification {
	background: $brand-quaternary;
	text-align: center;
	padding: 20px 0;
	@media (min-width: $screen-sm-min) {
		padding: 25px 0;
		text-align: left;
	}
	.row {
		display: block;
		@media (min-width: $screen-sm-min) { display: flex; }
	}
}

.notification--title {
	margin: 0 0 10px;
	font-size: $font-size-h5;
	@media (min-width: $screen-md-min) { font-size: $font-size-h4; }
}

.notification--description {
	margin-bottom: 0;
	line-height: $line-height-base / 1.15;
	font-size: $font-size-small;
	@media (min-width: $screen-md-min) {
		font-size: $font-size-base;
	}
}

.notification--btn {
	display: flex;
	margin-top: 15px;
 	.btn {
 		align-self:center;
 		@media (min-width: $screen-md-min) { margin: 0;}
 	}
}


.section {
	text-align: center;
	margin: 50px 0;
	@media (min-width: $screen-sm-min) {margin: 75px 0;}
	@media (min-width: $screen-md-min) {margin: 100px 0;}
}

.section--title {
	margin: 0 0 20px;
	font-size: $font-size-h4;
	@media (min-width: $screen-md-min) {font-size: $font-size-h3;}
}


.quicklinks {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: left;
	}
}

.quicklink {
	padding-left: 1px;
	padding-right: 1px;
	margin-bottom: 2px;
	a {
		display: block;
		@include clearfix;
		padding: 25px 15px;
		@media (min-width: $screen-md-min) {padding: 50px 30px;}
		border: 1px solid #ebe7d9;
		transition: 0.25s border ease-in-out, 0.25s background ease-in-out;
		&:hover {
			background: $brand-primary;
			color: #fff;
			border: 1px solid $brand-primary;
		}
		&:hover {
			.quicklink--title {
				color: #fff;
			}
			.quicklink--icon svg {
				color: rgba(255,255,255, 0.7);
			}
		&:hover {
			.quicklink--text {
				color: rgba(255,255,255, 0.7);
			}
		}
		}
	}
}

.quicklink--icon {
	width: 15%;
	float: left;
	position: relative;
	top: -6px;
	@media (min-width: $screen-md-min) { top: -13px;}
	svg {
		width: 35px;
		height: 35px;
		color: $brand-secondary;
		@include trans(color);
		@media (min-width: $screen-md-min) { width: 45px; height: 45px; }
	}
}

.quicklink--text {
	width: 85%;
	float: left;
	color: $text-color;
	padding-left: 20px;
	line-height: $line-height-base / 1.1;
}

.quicklink--title {
	margin: 0 0 15px;
	@media (min-width: $screen-md-min) { margin: 0 0 35px; }
	font-size: floor($font-size-h4 / 1.2);
	font-weight: 700;
}

.quicklink--description {
	margin: 0;
}


.testimonials {
	text-align: center;
	position: relative;
}

#slidePrev, #slideNext {
	position: absolute;
	top: 40%;
	width: 35px;
	height: 35px;
	fill: #eee;
	@media (min-width: $screen-md-min) {
		width: 80px;
		height: 80px;
	}
	@include trans(fill);
	&:hover {
		fill: $brand-primary;
		cursor: pointer;
	}
}

#slidePrev {
	left: -7px;
}

#slideNext {
	right: -7px;
}





/* --- INTERIOR PAGE SUBNAV --- */

.subnav {
	padding: 0;
	margin: auto;
	list-style-type: none;
	position: absolute;
	z-index: 2000;
	bottom: 0;
	left: 50%;
	display: none;
	transform: translateX(-50%);
	@media (min-width: $screen-sm-min) { display: block; }
	li {
		float: left;
		margin-left: 1px;
	}
	a {
		display: inline-block;
		background: rgba(255,255,255,0.55);
		text-transform: uppercase;
		font-size: floor($font-size-base / 1.3);
		text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
		color: #fff;
		padding: 10px 20px;
		@media (min-width: $screen-md-min) { padding: 12px 28px; }
		@include trans(background);
		&:hover, &:active {
			text-decoration: none;
			background: $brand-primary;
			color: #fff;
		}
	}
	.current_page_item a {
		background: $brand-primary;
		color: #fff;
	}
}



/* --- INTERIOR PAGE STYLES --- */

.pageIntro {
	margin-bottom: 20px;
	@media (min-width: $screen-md-min) { margin-bottom: 60px; }
	.pageIntro--title {
		font-size: $font-size-h4;
		letter-spacing: -0.03em;
		padding-right: 10px;
		padding-bottom: 20px;
		margin: 0 0 30px;
		@media (min-width: $screen-sm-min) { font-size: floor($font-size-h3 / 1.2); }
		@media (min-width: $screen-md-min) {
			font-size: floor($font-size-h2 * 1.1);
			margin: 0 0 20px;
			padding-bottom: 25px;
			padding-right: 25px;
		}
		&::after {
   			width: 60px;
   		}
   	}
}

.pageIntro--title::after {
    background: $brand-primary;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 30px;
}


.tuitionTable {
	margin: 10px 0 10px 0;
	@media (min-width: $screen-md-min) { margin: 60px 0 40px 0; }
	text-align: center;
	table {
		text-align: left;
	}
}

.tuitionTable--heading {
	margin-bottom: 20px;
}

.swipe {
	width: 30px;
	height: 30px;
	float: right;
	position: relative;
	top: -16px;
	right: 3px;
}


/* --- STAFF PAGE --- */

.staff--dept {
	margin-bottom: 10px;
	@include clearfix;
	clear: left;
}

.staff--dept-heading {
	margin-bottom: 10px;
}

.staff--dept > ul {
	list-style-type: none;
	padding: 0;
}

.staff--person {
	position: relative;
	margin-top: 10px;
	> a {
		display: block;
		&:hover {
			.staff--person-overlay, .staff--person-details { opacity: 1; }
		}
	}
}

.staff--person-overlay {
	opacity: 0;
	display: none;
	position: absolute;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	@include trans(opacity);
	@include background-opacity(#434242, 0.75);
	@media (min-width: $screen-md-min) {
		opacity: 0;
		display: block;
		width: calc(100% - 39px);
		height: calc(100% - 15px);
	}
}

.staff--person-details {
	opacity: 1;
	position: absolute;
	z-index: 2000;
	bottom: 0;
	left: $grid-gutter-width / 2;
	padding: 10px;
	width: calc(100% - #{$grid-gutter-width});
	@include background-opacity(#434242, 0.75);
	@include trans(opacity);
	@media (min-width: $screen-md-min) {
		opacity: 0;
		bottom: 25px;
		left: 38px;
		background:none;
		padding: 0;
		width: auto;
	}
}

.staff--person-name {
	font-weight: 400;
	color: #fff;
	margin: 0;
	@media (min-width: $screen-lg-min) { font-size: floor( $font-size-h4 * 1.1 ); }
	.vbox-inline & {
		text-align: center;
		color: $headings-color;
	}
}

.staff--person-bio {
	color: $text-color-alt;
}

.staff--person-title {
	margin: 0;
	color: $brand-secondary;
	.vbox-inline & {
		text-align: center;
		margin: 0 0 25px;
	}
}

.rounded {
	text-align: center;
	margin-bottom: 20px;
	img {
		width: 130px;
		height: 130px;
		border-radius: 65px;
	}
}

.contactInfo {
	margin-bottom: 30px;
	@media (min-width: $screen-md-min) { margin-bottom: 0;}
}


.map {
	margin: 20px 0;
	@media (min-width: $screen-md-min) {margin: 50px 0; }
}

.map--inner {
	background: #E5E3DF;
	position: relative;
	padding-bottom: 65%; // This is the aspect ratio
	@media (min-width: $screen-sm-min) { padding-bottom: 50%; }
	@media (min-width: $screen-lg-min) { padding-bottom: 45%; }
	height: 0;
	overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}





/* --- MISC --- */

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) { margin-top: 30; margin-bottom: 40px;}
    .image-container {
    	flex: 1 0 100%;
     	box-sizing: border-box;
     	@media (min-width: $screen-sm-min) { flex: 1 0 50%; }
     	&.third {  @media (min-width: $screen-sm-min) { flex: 1 0 33.3%; } }
    }
    .image {
		padding: 0;
		margin-bottom: 5px;
		@media (min-width: $screen-sm-min) {  padding: 3px; margin:0; }
		transition: transform 200ms ease 0s;
		&.third {  @media (min-width: $screen-sm-min) {  padding: 3px; margin:0; } }
	}
	a { outline: none;}
}


.signature {
	display: block;
	max-width: 250px;
	margin: 10px 0;
}


.lazy {
	background-image: url('img/ripple.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: $brand-quaternary;
	width: 100%;
	height: 100%;
	display: block;
}

[class^="icon-"], [class*=" icon-"] {
    height: 25px;
    width: 25px;
    display: inline-block;
    fill: currentColor;
}


::-moz-selection { background: $brand-primary; color: #fff; }
::selection { background: $brand-primary; color: #fff; }





/* --- FOOTER --- */

footer {
	background: #434242;
	color: #797878;
	padding: 20px 0;
	font-size: floor($font-size-base / 1.4);
	line-height: $line-height-base / 1.1;
}

.footer--social {
	text-align: right;
	a {
		display: inline-block;
		&:hover svg {
			fill: $brand-primary;
		}
	}
	svg {
		width: 40px;
		height: 40px;
		fill: #797878;
		@include trans(fill);
	}
}

.copyright {
	position: relative;
	top: 10px;
}

.legal {
	margin-top: 20px;
}






/* --- REMOVE --- */
.gallery-samples {
	&:nth-child(4n-7) {
		clear: both;
	}
	margin-bottom: 25px;
	p { margin: 0 0 3px;}
}



