/*
 * FadeShow jQuery Plugin
 * Made by Erik Terwan
 * 3 February 2015
 *
 * This plugin is provided as-is and released under the terms of the MIT license.
 */

div.fadeShow-container
{
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden;
}

div.fadeShow-container
  div.image
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	transition: opacity 1.8s ease-in-out;
	opacity: 0;
}

div.fadeShow-container
  div.image.fillHeight
{
	background-size: auto 100%;
}

div.fadeShow-container
  div.image.active
{
	z-index: 3;
	opacity: 1;
}

div.fadeShow-container
  div.image.inactive
{
	z-index: 2;
	opacity: 0;
}

div.fadeShow-container
  div.image
  	img
{
	width: 100px; /* leave this at 100px, we do calculations based on that number*/
	display: none;
}
