.mm-menu,
.mm-panels,
.mm-panels>.mm-panel {
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    box-sizing: border-box
}
.mm-btn,
.mm-menu {
    box-sizing: border-box
}
.mm-listview a,
.mm-listview a:hover,
.mm-navbar a,
.mm-navbar a:hover {
    text-decoration: none
}
.mm-listview .mm-next:before,
.mm-listview>li:not(.mm-divider):after,
.mm-next:after,
.mm-prev:before {
    content: '';
    bottom: 0
}
.mm-hidden {
    display: none!important
}
.mm-menu,
.mm-panels>.mm-panel:not(.mm-hidden) {
    display: block
}
.mm-wrapper {
    overflow-x: hidden;
    position: relative
}
.mm-menu {
    padding: 0;
    position: absolute;
    bottom: 0
}
.mm-panels,
.mm-panels>.mm-panel {
    background: inherit;
    border-color: inherit;
    position: absolute;
    bottom: 0
}
.mm-btn,
.mm-panel.mm-highest {
    z-index: 1
}
.mm-panels {
    overflow: hidden
}
.mm-panel {
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    transform: translate(100%, 0);
    transform: translate3d(100%, 0, 0)
}
.mm-panel.mm-opened {
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0)
}
.mm-panel.mm-subopened {
    transform: translate(-30%, 0);
    transform: translate3d(-30%, 0, 0)
}
.mm-panels>.mm-panel {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.mm-listview .mm-divider,
.mm-listview>li>a,
.mm-listview>li>span,
.mm-navbar .mm-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.mm-panels>.mm-panel:after,
.mm-panels>.mm-panel:before {
    content: '';
    display: block;
    height: 20px
}
.mm-vertical .mm-panel {
    transform: none!important
}
.mm-listview .mm-vertical .mm-panel,
.mm-vertical .mm-listview .mm-panel {
    display: none;
}
.mm-listview .mm-vertical .mm-panel .mm-listview>li:last-child:after,
.mm-vertical .mm-listview .mm-panel .mm-listview>li:last-child:after {
    border-color: transparent
}
.mm-vertical li.mm-opened>.mm-panel,
li.mm-vertical.mm-opened>.mm-panel {
    display: block
}
.mm-listview>li.mm-vertical>.mm-next,
.mm-vertical .mm-listview>li>.mm-next {
    height: 40px;
    bottom: auto
}
.mm-listview>li.mm-vertical>.mm-next:after,
.mm-vertical .mm-listview>li>.mm-next:after {
    top: 16px;
    bottom: auto
}
.mm-listview>li.mm-vertical.mm-opened>.mm-next:after,
.mm-vertical .mm-listview>li.mm-opened>.mm-next:after {
    transform: rotate(225deg);
    right: 19px
}
.mm-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0
}
.mm-clear:after,
.mm-clear:before,
.mm-close:after,
.mm-close:before {
    content: '';
    border: 2px solid transparent;
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: rotate(-45deg)
}
.mm-clear:before,
.mm-close:before {
    border-right: none;
    border-bottom: none;
    right: 18px
}
.mm-clear:after,
.mm-close:after {
    border-left: none;
    border-top: none;
    right: 25px
}
.mm-next:after,
.mm-prev:before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    display: block;
    width: 8px;
    height: 8px;
    margin: auto;
    position: absolute;
    top: 0
}
.mm-prev:before {
    transform: rotate(-45deg);
    left: 23px;
    right: auto
}
.mm-next:after {
    transform: rotate(135deg);
    right: 23px;
    left: auto
}

.mm-menu {
    background: $brand-tertiary;
    border-color: rgba(0, 0, 0, .1);
    color: rgba(255,255,255, .85);
    font-family: $font-family-sans-serif;
}

.mm-menu .mm-btn:after,
.mm-menu .mm-btn:before {
    border-color: rgba(0, 0, 0, .3)
}

.mm-page {
    box-sizing: border-box;
    position: relative
}
.mm-slideout {
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    z-index: 1
}
html.mm-opened {
    overflow-x: hidden;
    position: relative
}
html.mm-blocking,
html.mm-blocking body {
    overflow: hidden
}
html.mm-background .mm-page {
    background: inherit
}
#mm-blocker {
    background: rgba(3, 2, 1, 0);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2
}
html.mm-blocking #mm-blocker {
    display: block
}
.mm-menu.mm-offcanvas {
    z-index: 0;
    display: none;
    position: fixed;
    width: 80%;
    min-width: 140px;
    max-width: 340px
}
.mm-menu.mm-offcanvas.mm-current {
    display: block
}
.mm-menu.mm-offcanvas.mm-no-csstransforms.mm-current.mm-opened {
    z-index: 10
}
html.mm-opening .mm-slideout {
    transform: translate(80%, 0);
    transform: translate3d(80%, 0, 0)
}
@media all and (max-width: 175px) {
    html.mm-opening .mm-slideout {
        transform: translate(140px, 0);
        transform: translate3d(140px, 0, 0)
    }
}
@media all and (min-width: 550px) {
    html.mm-opening .mm-slideout {
        transform: translate(440px, 0);
        transform: translate3d(440px, 0, 0)
    }
}









html.mm-pagedim #mm-blocker,
html.mm-pagedim-black #mm-blocker,
html.mm-pagedim-white #mm-blocker {
    opacity: 0
}
html.mm-pagedim-black.mm-opening #mm-blocker,
html.mm-pagedim-white.mm-opening #mm-blocker,
html.mm-pagedim.mm-opening #mm-blocker {
    opacity: .4;
    transition: opacity .4s ease .4s
}
html.mm-pagedim #mm-blocker {
    background: inherit
}
html.mm-pagedim-white #mm-blocker {
    background: #fff
}
html.mm-pagedim-black #mm-blocker {
    background: #000
}


.mm-menu.mm-offcanvas.mm-right {
    left: auto
}
html.mm-right.mm-opening .mm-slideout {
    transform: translate(-80%, 0);
    transform: translate3d(-80%, 0, 0)
}
@media all and (max-width: 175px) {
    html.mm-right.mm-opening .mm-slideout {
        transform: translate(-140px, 0);
        transform: translate3d(-140px, 0, 0)
    }
}
@media all and (min-width: 550px) {
    html.mm-right.mm-opening .mm-slideout {
        transform: translate(-440px, 0);
        transform: translate3d(-440px, 0, 0)
    }
}
html.mm-front .mm-slideout {
    transform: none!important;
    z-index: 0
}
html.mm-front #mm-blocker {
    z-index: 1
}
html.mm-front .mm-menu.mm-offcanvas {
    z-index: 2
}
.mm-menu.mm-offcanvas.mm-front,
.mm-menu.mm-offcanvas.mm-next {
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    transform: translate(-100%, 0);
    transform: translate3d(-100%, 0, 0)
}
.mm-menu.mm-offcanvas.mm-front.mm-right,
.mm-menu.mm-offcanvas.mm-next.mm-right {
    transform: translate(100%, 0);
    transform: translate3d(100%, 0, 0)
}

html.mm-opening .mm-menu.mm-offcanvas.mm-front,
html.mm-opening .mm-menu.mm-offcanvas.mm-next {
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0)
}


#menu {
	font-size: floor($font-size-base * 1.1);
	@media (min-width: $screen-sm-min) {
		font-size: floor($font-size-base * 1.35);
	}
	font-family: $font-family-serif;
	font-weight: 400;
	line-height: 1.5;
	ul {
		list-style: none;
		padding: 0;
		ul {
			font-size: $font-size-base ;
		}
	}
	.mm-nolistview {
		position: relative;
		top: 55px;
	}
	li a {
		color: rgba(255,255,255,0.6);
		display: block;
		padding: 12px 21px 3px 25px;
		@media (min-width: $screen-sm-min) {
			padding: 16px 25px 7px 25px;
		}
		@include trans(color);
		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
	li li a {
		padding: 7px 0;
		text-indent: 50px;
		font-size: floor($font-size-base / 1.1);
		font-family: $font-family-sans-serif;
		@media (min-width: $screen-sm-min) {
			font-size: floor($font-size-base / 1.2);
			padding: 5px 0;
		}

	}

}

#menu:not( .mm-menu ) {
   display: none;
}
