@mixin trans($bg, $speed:0.25s, $ease:ease-in-out) {
  transition: $bg $speed $ease;
}


@mixin valign($amount:50%) {
  position: relative;
  top: $amount;
  transform: translateY(-$amount);
}


@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
